main {
    @include setFlex(row, center, center);
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.webp");
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--transparence);
        z-index: 0;
    }

    .authentification {
        @include setFlex(column, space-around, center);

        z-index: 1;
        width: 500px;
        height: 400px;
        margin: 1rem;
        padding: 2rem;
        border-radius: 0.6rem;
        color: var(--blanc);
        background-color: var(--noir-pale);

        & form {
            @include setFlex(column, space-between, flex-start);
            width: 80%;

            :not(last-child) {
                margin-bottom: 1rem;
            }

            input[type=email], input[type=password] {
                width: 100%;
                margin-top: 0.2rem;
                padding: 0.8rem;
                border-radius: 0.6rem;
                background-color: var(--noir);
                border: none;
                color: var(--blanc);

                &::placeholder {
                    color: var(--blanc-transparence);
                    letter-spacing: 0.5px;
                }
            }
        }

        a {
            font-weight: 300;
            font-size: 0.9rem;
            color: var(--blanc);
        }

    }
}