:root {
    --blanc: #FAF9F6;
    --blanc-transparence: #faf9f69c;
    --noir: #1B1212;
    --noir-pale: #302d2d;
    --transparence: #1b12121c;
    --orange: #ffb81d;
    --orange-hover: #db930e;
    --bleu: #63c9f1;
    --bleu-hover: #41a8d1;
    --alert: #F20530;
    --alert-hover: #cf0a2e;
    --succes: #73be51;
}