@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --blanc: #FAF9F6;
  --blanc-transparence: #faf9f69c;
  --noir: #1B1212;
  --noir-pale: #302d2d;
  --transparence: #1b12121c;
  --orange: #ffb81d;
  --orange-hover: #db930e;
  --alert: #F20530;
  --succes: #73be51;
}

/**
 * Permet de définir les propriétés flexbox d'un élément.
 */
/**
 * Permet d'ajouter une bordure rouge sur un élément.
 */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  color: var(--noir);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Tiny5", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.btn-submit {
  width: 100%;
  height: 3rem;
  background-color: var(--orange);
  border: none;
  border-bottom: 4px solid var(--noir);
  border-top: 2px solid var(--blanc);
  border-radius: 0.4rem;
  font-family: "Tiny5", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: var(--orange-hover);
}

.btn-creer, .btn-deco {
  background-color: var(--orange);
  border-bottom: 4px solid var(--noir);
  border-top: 2px solid var(--blanc);
  border-radius: 0.4rem;
  font-family: "Tiny5", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.btn-creer:hover, .btn-deco:hover {
  background-color: var(--orange-hover);
}

.btn-deco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-deco span {
  font-size: 1.4rem;
}
.btn-deco:hover {
  background-color: var(--alert);
}

.section-non-connecte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
}
.section-non-connecte::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--transparence);
  z-index: 0;
}

.section-connecte {
  min-height: 100vh;
  background-image: url("../images/texture_bg.webp");
  background-size: 200px;
  background-repeat: repeat;
  padding: 1rem;
}

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  min-width: 300px;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.6rem;
  color: var(--blanc);
  background-color: var(--noir-pale);
}
.formulaire h1 {
  margin-bottom: 2rem;
}
.formulaire form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: auto;
}
.formulaire form input[type=email], .formulaire form input[type=password], .formulaire form input[type=text] {
  width: 100%;
  margin-top: 0.2rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  background-color: var(--noir);
  border: none;
  color: var(--blanc);
  margin-bottom: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.formulaire form input[type=email]::-moz-placeholder, .formulaire form input[type=password]::-moz-placeholder, .formulaire form input[type=text]::-moz-placeholder {
  color: var(--blanc-transparence);
  letter-spacing: 0.5px;
}
.formulaire form input[type=email]::placeholder, .formulaire form input[type=password]::placeholder, .formulaire form input[type=text]::placeholder {
  color: var(--blanc-transparence);
  letter-spacing: 0.5px;
}
.formulaire a {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--blanc);
  margin-top: 2rem;
}

.message-utilisateur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  max-width: 500px;
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  border-radius: 0.6rem;
  color: var(--blanc);
  background-color: var(--alert);
  line-height: 1.2rem;
  box-shadow: 1px 1px 10px var(--noir-pale);
}
.message-utilisateur p {
  margin: 0 1rem;
}
.message-utilisateur button {
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
  color: var(--blanc);
  cursor: pointer;
}
.message-utilisateur span {
  font-weight: 800;
}
.message-utilisateur a {
  color: var(--blanc);
  font-weight: 800;
}

.succes {
  background-color: var(--succes);
  color: var(--noir);
}
.succes button {
  color: var(--noir);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--noir-pale);
}
header a {
  color: var(--blanc);
}/*# sourceMappingURL=style.css.map */